<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    
  
    <title>DevSearch - Connect with Developers!</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />


    <link href="{% static 'styles/main.css' %}" rel="stylesheet" />
    <link href="{% static 'styles/uikit/styles/uikit.css' %}" rel="stylesheet" />
    <link href="{% static 'styles/uikit/styles/app.css' %}" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />

  <script src="{% static 'js/main.js' %}"></script>

  </head>
  <style>

    .delete-content{
      border: 2px solid red;
      margin: 0 auto;
      align-items: center;
      width: 40%;
    }

    .delete-content div div form p{
      font-size: large;
      padding-top: 10px;
      text-align: center;
      color: red;
    }

    .delete-form{
      margin: 10px auto;
      text-align: center;
    }

    a:hover{
      text-decoration: none;
    }
  </style>

  <!-- END OF PERSONAL STYLING  -->
  <body>
    {% include 'navbar.html' %} 
  
    <!-- {% if messages %}
    <ul class="meaasges">
      {% for message in messages  %}
      <li 
          {% if message.tags %} 
          class="{{message.tags}}" 
          {% endif %}> {{message}}
      </li>
      {% endfor %}
    </ul>

    {% endif %} -->

    {% if messages %}
    {% for message in messages %}

    <div class="alert alert__{{message.tags}}">
      <p class="alert__message">{{message}}</p>
      <button class="alert__close">X</button>
    </div>

    {% endfor %}


    {% endif %}




    {% block body %} 
    
    {% endblock %}

    <h3 class="h3">Footersss</h3>
  
  </body>

</html>
